<div class="bx-std-menu-top-center-cnt">
    <ul class="bx-menu-top-center bx-menu-object-__object__ bx-clearfix">
        <bx_repeat:menu_items>
            <li id="bx-menu-item-__name__" class="__class__ bx-def-box-sizing __class_add__">
                <a href="__link__" <bx_if:onclick>onclick="__onclick__"</bx_if:onclick> __attrs__>
                    <div class="bx-mi-icon rounded-lg shadow-md hover:ring-4 hover:ring-blue-600/20  active:opacity-80 duration-300">
                        <div class="block ring-[0.5px] ring-gray-600/20 ring-inset rounded-lg">
                            <bx_include_auto:menu_icon.html />
                        </div>
                    </div>
                </a>
            </li>
        </bx_repeat:menu_items>
    </ul>
</div>