/*--- 2 columns ---*/
.bx-std-pc-stretch {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
    box-sizing: border-box;
}

.bx-std-pc-vstretch {
    width: 100%
}

div.bx-std-page-columns-cnt {
    position: relative;
    display: flex;
    align-items: stretch;

    padding: 4.75rem 0.5rem 0.5rem 0.5rem;
}

/*--- Page Menu ---*/
div.bx-std-page-column.bx-std-page-menu {
    position: relative;
    -webkit-flex: 0 0 20rem;
    flex: 0 0 20rem;

    width: 20rem;
    height: 100%;

    backdrop-filter: blur(40px);

    overflow-y: auto;
}
div.bx-std-page-column.bx-std-page-menu::-webkit-scrollbar {
  display: none;
}
div.bx-std-page-column.bx-std-page-menu div.bx-std-page-column-cnt {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding-top: 0.375rem;
}

/*--- Page Content ---*/
div.bx-std-page-column.bx-std-page-content {
    position: relative;
    -webkit-flex-grow: 2;
    flex-grow: 2;

    height: 100%;

    overflow-x: hidden;
    overflow-y: auto;
}
div.bx-std-page-column.bx-std-page-content::-webkit-scrollbar {
  display: none;
}
div.bx-std-page-column.bx-std-page-content div.bx-std-page-column-cnt {
    width: 100%;
    height: max-content;
    padding-left: 0.5rem;
}
